[Unit]
Description=Keep an AMD dGPU awake while PSVR2 is connected

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/psvr2-dgpu-power on
ExecStop=/usr/local/libexec/psvr2-dgpu-power auto
