[Unit]
Description=WiVRn dashboard for an attached Quest headset
After=graphical-session.target
Conflicts=psvr2-fossvr.service psvr2-fossvr-wayvr.service

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run io.github.wivrn.wivrn
KillMode=mixed
TimeoutStopSec=10
Restart=on-failure
RestartSec=2
